@using Core.Entities
@model Web.Models.ProductViews.ProductManageModel
@{
    ViewBag.Title = "Добавить товар";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ProductAdd", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <hr/>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Cost, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Cost, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Size, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary @(Model.Size == Size.Small ? "active" : "")">
                    @Html.RadioButtonFor(m => m.Size, Size.Small) маленькая
                </label>
                <label class="btn btn-primary @(Model.Size == Size.Middle ? "active" : "")">
                    @Html.RadioButtonFor(m => m.Size, Size.Middle) стредняя
                </label>
                <label class="btn btn-primary @(Model.Size == Size.Big ? "active" : "")">
                    @Html.RadioButtonFor(m => m.Size, Size.Big) большая
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.File, new { @class = "col-md-2 control-label" })
        <input type="file" id="exampleInputFile" name="File">
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Сохранить" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}